@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@inherits Panel
@implements IPopupConsumer
@namespace Shooter.UI

@if (!HasWeapon) return;

<root>
    <div class="ammo-wrapper" style="color: @HudColour;">
        <div class="pickup-container">
            @foreach(var popup in _activePopups)
            {
				<UIPopupCard HudColour="@HudColour" UIPopup="@popup" />
			}
        </div>

        <div class="current-ammo">@AmmoLeft</div>
        <div class="separator">/</div>
        <div class="max-ammo">@MaxAmmo</div>
    </div>
</root>

@code {
	[Property] public PlayerInventory PlayerInventory { get; set; }
	[Property] public string HudColour { get; set; } = "#FFFFFF";

	private FireData FireData => PlayerInventory?.CurrentWeapon?.GunData?.PrimaryFireData;

	public int AmmoLeft => FireData?.AmmoLeft ?? 0;
	public int MaxAmmo => HasWeapon ? FireData.MaxAmmo : 0;
	public bool HasWeapon => FireData != null;

	private HashSet<UIPopup> _activePopups = new();

	TaskSource IPopupConsumer.Task => this.Task;

	void IPopupConsumer.RemovePopup(UIPopup popup)
	{
		_activePopups.Remove(popup);
	}

	public void OnAmmoAdded(IWeapon item, int amount)
	{
		if ( item == PlayerInventory.CurrentWeapon && amount > 0 )
		{
			_activePopups.Add( new( this, 1.5f ) { Amount = amount } );
			StateHasChanged();
		}
	}

    protected override int BuildHash()
    {
        if (!HasWeapon) return 0;
        return System.HashCode.Combine(AmmoLeft, MaxAmmo, HasWeapon, _activePopups.Count);
    }
}
