@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Shooter.UI

@if (DamageInfo == null) return;

<root>
    <div class="banner">
        <h1 id="header">Killed By</h1>
        <div class="infobox" >
            <h2 id="name">@GetDisplayName(DamageInfo?.Attacker)</h2>

            <div class="info flex-col">
                <div class="infoitem">
                    <span class="label">HP  &lt;- </span>
                    <span id="health">@GetRemainingHealth()</span>
                </div>
                <div class="infoitem">
                    <span class="label">Dmg  &lt;- </span>
                    <span id="damage">@GetDamageDealt()</span>
                </div>
            </div>
        </div>
    </div>
</root>

@code
{
    public DamageInfo DamageInfo { get; set; }

    private CharacterHealth enemyHealth = null;
    private PlayerInteraction playerInteraction = null;

    //if (damageInfo == null) return;
    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( DamageInfo );

    private string GetDisplayName(GameObject gameObject)
    {
        if (gameObject == null) return null;

        return gameObject.Tags.Has("npc")
        ? "Bot"
        : (gameObject.Network?.Owner?.DisplayName ?? "Unknown");

    }

    private string GetRemainingHealth()
    {
        enemyHealth = DamageInfo?.Attacker.GetComponent<CharacterHealth>( includeDisabled: true );

        if (enemyHealth == null) return "NaN";

        return $"{(int)(enemyHealth.Health + 0.5f)} / {enemyHealth.MaxHealth}";
    }

    private string GetDamageDealt()
    {
        playerInteraction = Shooter.PlayerController.Local
            ?.GetComponent<PlayerInteraction>(includeDisabled: true);
        
        if (playerInteraction == null) return "0";
        
        return $"{(int)(playerInteraction.DamageDealt[DamageInfo.Attacker.Id] + 0.5f)}";
    }

}
