@import "/UI/Styles/Theme.scss";

@keyframes float-up {
    0% {
        transform: translateY(10px) scale(0.8);
        opacity: 0;
    }
    15% {
        transform: translateY(0px) scale(1.1);
        opacity: 1;
    }
    25% {
        transform: translateY(-5px) scale(1);
        opacity: 1;
    }
    80% {
        transform: translateY(-30px);
        opacity: 1;
    }
    100% {
        transform: translateY(-35px);
        opacity: 0;
    }
}

HealthBar {
    position: absolute;
    bottom: 60px;
    left: 80px;
    width: 550px;

    .health-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;

        background-color: $main-bg-color;
        padding: 15px 25px 15px 25px;
        border-radius: 2px;
        transform: skewX(-15deg); 
        border-left: 4px solid rgba(255, 255, 255, 0.1);

        .pickup-container {
            position: absolute;
            bottom: 100%;
            left: 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            pointer-events: none;

            .pickup-text {
                font-family: $main-font;
                font-size: 60px;
                font-weight: 800;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                
                animation-name: float-up;
                animation-duration: 1.5s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
            }
        }

        .health-text {
            font-family: $main-font;
            font-size: 36px;
            font-weight: 900;
            text-align: left;
            margin-left: 10px;
            text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
        }

        .segments-container {
            display: flex;
            flex-direction: row;
            gap: 5px;
            width: 100%;
            height: 25px;

            .segment-background {
                flex: 1;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(255, 255, 255, 0.05);
                overflow: hidden;
                position: relative;
                
                .segment-fill {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    transition: width 0.2s ease-out;
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2) inset;
                }
            }
        }
    }
}