@using Sandbox;
@using Sandbox.UI;
@inherits UISystem.UILayer
@implements IPlayerEvent
@namespace Shooter.UI

@if (!ShouldDisplay) return;

<root>
    <div class="HP-counter">@GetHealth() HP</div>
    <div class="Ammo-counter">@GetAmmo()</div>
    
    <WeaponBar PlayerInventory="@PlayerInventory" @ref="weaponBar" />

</root>

@code
{
    private PlayerInventory PlayerInventory = null;
    private IWeapon CurrentWeapon => PlayerInventory?.CurrentWeapon;
    private FireData FireData => PlayerInventory?.CurrentWeapon?.GunData?.PrimaryFireData;

    WeaponBar weaponBar { get; set; }

    private CharacterHealth CharacterHealth = null;

    private bool ShouldDisplay = false;

    void IPlayerEvent.OnSpawn( GameObject player )
    {
        if ( player.IsProxy || player == null ) return;
        ShouldDisplay = true;

        CharacterHealth = player.GetComponent<CharacterHealth>();
        PlayerInventory = player.GetComponent<PlayerInventory>();
    }

    void IPlayerEvent.OnDied()
    {
        ShouldDisplay = false;
    }

    void IPlayerEvent.OnItemAdded(ICollectable item) => weaponBar.StateHasChanged();
    void IPlayerEvent.OnWeaponAdded(IWeapon weapon) => weaponBar.StateHasChanged();

    public string GetAmmo() => FireData != null
            ? $"{FireData.AmmoLeft} / {FireData.MaxAmmo}"
            : "";

    public string GetHealth() => CharacterHealth != null
            ? $"{(int)CharacterHealth.Health} / {(int)CharacterHealth.MaxHealth}"
            : "";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(GetAmmo(), GetHealth());

}

