@import "/UI/Styles/Theme.scss";

HUD
{
    font-weight: bold;
    text-stroke: $main-text-stroke;
    font-family: $main-font;
}

.HP-counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: $main-text-color;
    background-color: rgba(227, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0 0 30px black;
}

.Ammo-counter {
    position: absolute;
    bottom: 20px;
    right: 210px;
    font-size: 24px;
    color: $main-text-color;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 6px;
}
