HUDTimer {
	font-weight: bold;
	text-stroke: 8px black;
	font-family: poppins;

	.hud-timer {
		position: absolute;
		top: 25%;
		left: 50%;
		width: 15%;
		white-space: nowrap;
		transform: translateX(-50%);
		font-size: 200px;
		font-weight: bold;
		color: white;
		//background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 24px;
		border-radius: 8px;
		text-align: center;
		flex-direction: column;
		align-items: center;

		.bar {
			width: 100%;
			justify-content: center;

			.skip_button {
				font-size: 20px;
				padding: 5px;
			}
		}
	}
}
