@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@namespace Shooter.UI

@if (!Countdownable.IsActive) return;

<root>
    <div class="hud-timer">
        <span>@Countdownable.GetTime()</span>

        @if (Countdownable.Skippable)
        {
            bool disabled = Countdownable.SkipTimeLeft() >= 0;
            var bgColour = disabled ? "#0000007F" : HudColour;

            string skipButton = Input.GetButtonOrigin("Skip");

            <div class="bar" style="background-color: @bgColour;">
                <span class="skip_button" >Skip [@skipButton]</span>
                @if (disabled)
                {
                    <span class="skip_button">@(Countdownable.SkipTimeLeft() +1 )</span>
                }
            </div>
        }
    </div>
</root>

@code
{
    [Property] public string HudColour { get; set; } = "#FFFFFF";

    [Property] public ICountdownable Countdownable { get; set; }

    //private int time => matchState != null ? matchState.StartTimer : 0;

    protected override int BuildHash() => System.HashCode.Combine( Countdownable.GetTime(), Countdownable.IsActive );

}
