@import "/UI/Styles/Theme.scss";

KillFeed {
	z-index: 100;
	position: absolute;
	top: 60px;
	left: 60px;
	border-radius: 20px;
	width: 15%;
	height: 50%;

	.feed {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: flex-start;

		.feed_entry {
			display: flex;
			flex-direction: row;
			gap: 0.4em;
			font-family: $secondary-font;
			font-weight: 500;
			font-size: 30px;
			color: white;
			margin: 5px 0px;
			text-align: left;

			background-color: $main-bg-color;
            padding: 4px 12px;
            border-radius: 6px;
            white-space: nowrap;
			
		}

		.self {
			color: #fff500;
		}

		.friendly {
			color: whitesmoke;
		}

		.enemy {
			color: #dc0000;
		}

		.hide {
			display: none;
		}
	}
}
