SpawnTransition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 100;

    // Blur effect under the scanline
    .distortion-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(15px) contrast(1.2) saturate(1.5);
    }

    .flash {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(100, 255, 255, 0.25);
        mix-blend-mode: screen;
    }

    .scanline {
        position: absolute;
        width: 100%;
        height: 15%;
        background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9), transparent);
        top: -20%; 
    }

    // Line wiping down
    &.morph-out {
        opacity: 1;
        transition: opacity 0.05s ease-in; 

        .scanline {
            top: 120%; 
            transition: top 0.2s ease-out; 
        }

        .distortion-layer {
            // Un-clip the blur from top to bottom, following the scanline
            transition: clip-path 0.2s ease-out; 
        }
    }

    // Line wiping up
    &.morph-in {
        opacity: 0;
        transition: opacity 0.5s ease-out; 

        .scanline {
            top: -20%; 
            transition: top 0.4s ease-out; 
        }

        .distortion-layer {
            transition: clip-path 0.4s ease-out; 
        }
    }

    &.hidden {
        opacity: 0;
        transition: none; 
        
        .scanline {
            top: -20%;
            transition: none;
        }

        .distortion-layer {
            transition: none;
        }
    }
}