@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Threading.Tasks;
@inherits Panel
@namespace Shooter.UI

<root class="@CurrentState">
    <div class="distortion-layer"></div>
    <div class="flash"></div>
    <div class="scanline"></div>
</root>

@code
{
    private string CurrentState { get; set; } = "hidden";

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (firstTime)
        {
            TutorialStage.OnMorphStart += HandleMorphStart;
            TutorialStage.OnMorphEnd += HandleMorphEnd;
        }
    }

    public override void Delete(bool b = false)
    {
        TutorialStage.OnMorphStart -= HandleMorphStart;
        TutorialStage.OnMorphEnd -= HandleMorphEnd;
        base.Delete(b);
    }

    private void HandleMorphStart()
    {
        CurrentState = "morph-out";
        StateHasChanged();
    }

    private async void HandleMorphEnd()
    {
        CurrentState = "morph-in";
        StateHasChanged();

        await Task.Delay(500);

        if (CurrentState == "morph-in")
        {
            CurrentState = "hidden";
            StateHasChanged();
        }
    }
}