@using Sandbox;
@using Sandbox.UI;
@inherits Panel

@namespace Shooter.UI

@if (DisplayPosition == SpeedDisplayPosition.Off) return;

<root class="speed-counter @GetSpeedClass() @GetColorClass()">
	<div>@($"{currentSpeed} u/s")</div>
</root>

@code {
	private SpeedDisplayPosition DisplayPosition = SpeedDisplayPosition.Off;
	private int currentSpeed = 0;

	protected override int BuildHash()
	{
		if (DisplayPosition == SpeedDisplayPosition.Off) return 0;

		UpdateSpeed();
		return currentSpeed;
	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		if (firstTime && SettingsManager.Instance != null)
		{
			DisplayPosition = SettingsManager.Instance.PlayerPreferences.SpeedDisplay;
			SettingsManager.Instance.OnSpeedDisplayChanged += UpdateSpeedDisplay;
			StateHasChanged();
		}
	}

	public override void OnDeleted()
	{
		base.OnDeleted();

		SettingsManager.Instance?.OnSpeedDisplayChanged -= UpdateSpeedDisplay;

	}

	private void UpdateSpeedDisplay(SpeedDisplayPosition pos)
	{
		DisplayPosition = pos;
	}

	private string GetSpeedClass() => DisplayPosition switch
	{
		SpeedDisplayPosition.UnderCrosshair => "speed-under-crosshair",
		SpeedDisplayPosition.TopLeft => "speed-top-left",
		SpeedDisplayPosition.TopRight => "speed-top-right",
		SpeedDisplayPosition.BottomLeft => "speed-bottom-left",
		SpeedDisplayPosition.BottomRight => "speed-bottom-right",
		_ => ""
	};

	// Change the color of the text based on how fast the player is moving
	private string GetColorClass()
	{
		if (currentSpeed > 1000) return "speed-yellow";
		if (currentSpeed > 500) return "speed-green";
		return "";
	}

	private void UpdateSpeed()
	{
		// Only runs when it is needed i.e. Display is not off

		if (Shooter.PlayerController.Local != null)
		{
			currentSpeed = Shooter.PlayerController.Local.Velocity.WithZ(0).Length.CeilToInt();
		}
	}
}
