Crosshair {
	position: absolute;
	top: 50%;
	left: 50%;

	.dot {
		background-color: white;
		transition: all 0.1s ease-out 0s;
		width: 4px;
		height: 4px;
	}

	&.hideCrosshair .dot {
		display: none;
	}
}
