@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
    <div class="dot"></div>
</root>

@code
{

    public PlayerInventory Inventory { get; set; }
    private Gun gun = null;

    // Hook into some player events or check in tick for weapon changes.
    // Not needed now, but for future when having different types and more logic.

    // This may need to be refactored if scoping and other factors become relevant.
    // Especially whether this should be a panel or an additive panelcomponent/layer.

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        UpdateCrosshair();
    }

    private void UpdateCrosshair()
    {
        gun = Inventory?.CurrentWeapon as Gun;
        SetClass("hideCrosshair", gun == null);
    }

    public override void Tick()
    {
        base.Tick();

        SetClass("hideCrosshair", Inventory?.CurrentWeapon == null);

    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Inventory.CurrentWeapon );
}
