@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@implements IMatchEvents
@namespace Shooter.UI

<root>
    <div class="Score">
        @Score / @TargetScore
    </div>
</root>

@code
{
    public int Score { get; set; } = 0;
    public int TargetScore { get; set; } = 0;

    void IMatchEvents.OnScore( int amount )
    {
        Score += amount;
    }

    void IMatchEvents.OnGameStart()
    {
        TargetScore = MatchManager.Instance.MatchGameMode.ScoreLimit;
        Log.Info(TargetScore);
        StateHasChanged();
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Score );
}
