@using Sandbox;
@using Sandbox.UI;
@inherits UISystem.UILayer
@implements IPlayerEvent
@namespace Sandbox

@*
    This is a temporary ad-hoc until we define a proper namespace for the game
    or change the name of the PlayerController class.
    The problem is that Sandbox namespace contains a PlayerController class as well
    and therefore the global one clashes with it.
*@

<root>
    <div class="HP-counter">@GetHealth() HP</div>
    <div class="Ammo-counter">@GetAmmo()</div>
    @*<Crosshair Inventory=@PlayerInventory ></Crosshair>*@
</root>

@code
{
    private PlayerInventory PlayerInventory = null;
    private FireData FireData => PlayerInventory?.CurrentWeapon?.GunData.PrimaryFireData;

    private CharacterHealth CharacterHealth = null;

    void IPlayerEvent.OnSpawn( GameObject player )
    {
        if ( player.IsProxy ) return;

        CharacterHealth = player?.GetComponent<CharacterHealth>();
        PlayerInventory = player?.GetComponent<PlayerInventory>();
    }

    public string GetAmmo() => FireData != null
            ? $"{FireData.AmmoLeft} / {FireData.MaxAmmo}"
            : "";

    public string GetHealth() => CharacterHealth != null
            ? $"{(int)CharacterHealth.Health} / {(int)CharacterHealth.MaxHealth}"
            : "";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( GetAmmo(), GetHealth(), FireData);

}

