HUD
{
    font-weight: bold;
    text-stroke: 8px black;
    font-family: poppins;
}

.HP-counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(227, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0 0 30px black;
}

.Ammo-counter {
    position: absolute;
    bottom: 20px;
    right: 210px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 6px;
}

.weapon-hud {
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    gap: 5px;
}

.weapon-slot {
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: all 0.1s;
}

.weapon-slot.active {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transform: scale(1.1);
}