@using Sandbox;
@using Sandbox.UI;
@inherits UISystem.UILayer
@implements IPlayerEvent
@namespace Shooter.UI

@*
    This is a temporary ad-hoc until we define a proper namespace for the game
    or change the name of the PlayerController class.
    The problem is that Sandbox namespace contains a PlayerController class as well
    and therefore the global one clashes with it.
*@

<root>
    <div class="HP-counter">@GetHealth() HP</div>
    <div class="Ammo-counter">@GetAmmo()</div>
    
    <div class="weapon-hud">
        @if (PlayerInventory != null)
        {
            foreach (var weapon in PlayerInventory.Items)
            {
                if (weapon == null) continue;

                <div class="weapon-slot @(weapon == PlayerInventory.CurrentItem ? "active" : "")">
                    <div class="icon">
                        @weapon.Name
                    </div>
                </div>
            }
        }
    </div>


</root>

@code
{
    private PlayerInventory PlayerInventory = null;
    private IWeapon CurrentWeapon => PlayerInventory?.CurrentWeapon;
    private FireData FireData => PlayerInventory?.CurrentWeapon?.GunData?.PrimaryFireData;


    private CharacterHealth CharacterHealth = null;

    void IPlayerEvent.OnSpawn( GameObject player )
    {
        if ( player.IsProxy ) return;

        CharacterHealth = player?.GetComponent<CharacterHealth>();
        PlayerInventory = player?.GetComponent<PlayerInventory>();
    }

    public string GetAmmo() => FireData != null
            ? $"{FireData.AmmoLeft} / {FireData.MaxAmmo}"
            : "";

    public string GetHealth() => CharacterHealth != null
            ? $"{(int)CharacterHealth.Health} / {(int)CharacterHealth.MaxHealth}"
            : "";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash()
    {
        int hash = System.HashCode.Combine(GetAmmo(), GetHealth(), PlayerInventory?.CurrentItem);

        if (PlayerInventory != null)
        {
            foreach (var w in PlayerInventory.Items)
            {
                if (w != null)
                    hash = System.HashCode.Combine(hash, w.GetHashCode());
            }
        }

        return hash;
    }

}

