HUDTimer {
	font-weight: bold;
	text-stroke: 8px black;
	font-family: poppins;

	.hud-timer {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 200px;
		font-weight: bold;
		color: white;
		//background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 24px;
		border-radius: 8px;
		text-align: center;
	}
}
