@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Shooter.UI

@typeparam T

<root>
    <div class="slot">
        @DisplayValue
    </div>
</root>

@code
{

    [Property] public T DisplayValue { get; set; }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( DisplayValue );
}
