@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@inherits UISystem.UILayer
@namespace Shooter.UI

<root>
    <div class="inventory">
        <h1 class="title">@MyStringValue</h1>
        <div class="container">
            @for (int i = 0; i < Size; ++i)
            {
                <InventorySlot T="string" DisplayValue="@InventoryItems[i]" class="cols-@ratio" />
            }
        </div>
    </div>
</root>
    
@code
{
    private int Size => InventoryItems.Count;
    private int ratio;
    [Property] private int Rows { get; set; } = 3;
    [Property, TextArea] public string MyStringValue { get; set; } = "Hello Worldsddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd!";

    [Property] private List<string> InventoryItems { get; set; } = new();

    protected override void OnAwake()
    {
        base.OnAwake();
        ratio = Size / Rows;
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( MyStringValue + Size );

}
