@using Sandbox
@using Sandbox.UI
@using UISystem
@inherits UILayer
@implements IPlayerEvent
@namespace Shooter.UI

@if ( IsProxy || !isPlayer )
{
<root>
    <div class="title">@Name</div>
</root>
}

@code
{
    [Property] private string Name { get; set; }
    private bool isPlayer = false;

    //private CharacterHealth CharacterHealth = null;

    //void IPlayerEvent.OnTakeDamage( float damage ) => StateHasChanged();

    protected override void OnStart()
    {
        base.OnStart();

        isPlayer = GameObject.Parent.Tags.Contains("player");

        Name ??= isPlayer ? Network.Owner?.DisplayName : "Bot";
        StateHasChanged();
    }
    
	//private float GetHealth()
	//{
	//	return CharacterHealth?.Health ?? 0.0f;
	//}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	//protected override int BuildHash() => System.HashCode.Combine( GetHealth() );


	//private static string GetTitleClass(float hp) => hp switch
	//	{
	//		<= 0  => "title4",
	//		<= 25 => "title3",
	//		<= 50 => "title2",
	//		<= 75 => "title1",
	//		_     => "title"
	//	};

}
