@*
 This file is based on "Sauce-Movement-Base" by SmileCorp,
 licensed under the Creative Commons Attribution 4.0 International License.
 Original available at: https://github.com/smilefordiscord/Sauce-Movement-Base.git
 
 License: CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
*@

@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="speedometer">@Speed u/s</div>
</root>

@code
{
	[Property] public int Speed { get; set; } = 0;
	protected override int BuildHash() => System.HashCode.Combine(Speed);
}
