@using Sandbox;
@using Sandbox.UI;
@using UISystem
@inherits UILayer
@namespace Shooter.UI

<root>
	<div class="information">
		<h1>Information</h1>
		@*If adding more here, abstract each to separate panel*@
		<div class="info-section flex-col">
			<h1>Credits</h1>
			<ul class="items">
				<li>Peliryhmä</li>
			</ul>
		</div>
		<div class="info-section flex-col">
			<h1>Open Source Licenses</h1>
			<ul class="items">
				<li>Facepunch</li>
				<li>Smilefordiscord</li>
			</ul>
		</div>
		<div class="info-section flex-col">
			<h1>Attributions</h1>
			<ul class="items">
				<li>Peliryhmä</li>
			</ul>
		</div>
	</div>
</root>

@code
{

}
