@using Sandbox;
@using Sandbox.UI;
@using UISystem
@inherits UILayer
@namespace Shooter.UI

<root>
    <div class="main_menu">
        <h1>Movement shooter</h1>
        <UIButton class="button" T="string" DisplayValue="Join game" ButtonCallback="@OpenLobbyBrowser"></UIButton>
        <UIButton class="button" T="string" DisplayValue="Settings" ButtonCallback="@OpenSettings"></UIButton>
		<UIButton class="button" T="string" DisplayValue="Information" ButtonCallback="@ShowInfo"></UIButton>
        <UIButton class="button" T="string" DisplayValue="Quit" ButtonCallback="@Quit"></UIButton>
    </div>
</root>

@code
{

	protected override void OnStart()
	{
		base.OnStart();

		Show();
	}

	public override void Show()
	{
		Mouse.Visibility = MouseVisibility.Visible;
		GameObject.Enabled = true;
	}

	public override void Hide()
	{
		GameObject.Enabled = false;
	}

	private void OpenLobbyBrowser()
	{
		UIManager.Instance.ShowLayer<LobbyBrowser>();
	}

	private void StartGame( string scene = "/scenes/main.scene" )
	{
		// Make a scene manager for loading
		// Also a loading screen that is additively loaded??
		Log.Info( "Loading game scene" );
		var slo = new SceneLoadOptions { ShowLoadingScreen = true };
		slo.SetScene( scene );
		Scene.Load( slo );

		Mouse.Visibility = MouseVisibility.Hidden;
		//GameManager.Current.LoadUI();

		// Just for reference, I have no clue how they work
		LoadingScreen.Media = "splash.png";
		LoadingScreen.Title = "Loading the game";
	}

	private void Quit()
	{
		Log.Info( "Quitting game" );
		Game.Close();
	}

	private void OpenSettings()
	{
		UIManager.Instance.ShowLayer<SettingsMenu>();
		Log.Info("Settings");
	}

	private void ShowInfo()
	{
		UIManager.Instance.ShowLayer<InfoPage>();
	}

}
