@import "/UI/Styles/Theme.scss";

.textPanel {
	position: absolute;
	z-index: 999;
	font-family: $main-font;
	text-stroke: $main-text-stroke;
	width: 100%;
	height: 100%;
	margin: auto;
	color: $main-text-color;

	h1 {
		position: relative;
		top: 10%;
		width: 100%;
		font-size: 5rem;
		font-weight: bold;
		text-align: center;
	}

	label {
		width: 100%;
		text-align: center;
	}

	text-transform: uppercase;
	overflow: hidden;
	z-index: 25;
}
