@using Sandbox;
@using Sandbox.UI;
@using Shooter.Match;
@using Shooter.UISystem;
@inherits UILayer;
@namespace Shooter.UI

<root>
    @if ( winner )
    {
        <div class="result" style="color: limegreen">
            <h1>You won!</h1>
        </div>
    } else
    {
        <div class="result" style="color: darkred">
            <h1>You lost!</h1>
        </div>
    }
</root>

@code
{
    private bool winner;

    public override void Show()
    {
        base.Show();

        //var player = Game.ActiveScene.GetComponentsInChildren<ICharacterBase>( includeDisabled: true )
        //    .FirstOrDefault(
        //        character =>
        //            character.IsPlayer && character.CharacterStats.Network.IsOwner
        //    );

        winner = GetNonTeamWinStatus( Shooter.PlayerController.Local );

        StateHasChanged();
    }

    public override void Hide()
    {
        // Disable component and destroy as it is not tied to a gameobject
        Enabled = false;
        Destroy();
    }

    /// <summary>
    /// This is to determine whether the local player won or not
    /// </summary>
    /// <param name="player"></param>
    /// <returns></returns>
    private bool GetNonTeamWinStatus( ICharacterBase player )
    {
        var tracked = MatchStatsManager.Instance.Tracked
            .OrderByDescending(chr => chr?.Score);

        for (int i = 0; i < System.Math.Min(3, tracked.Count()); ++i)
        {
            Log.Info(tracked.ElementAt(i));
            Log.Info(player.CharacterStats);

            if (tracked.ElementAt(i) == player.CharacterStats) return true;
        }

        return false;
    }

    protected override int BuildHash() => System.HashCode.Combine( winner );

}
