@import "/UI/Styles/Theme.scss";

.uibutton {
    padding: 8px 16px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #444;
    color: $main-text-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;

    &:hover {
        background-color: #666;
    }
}

