@using System;
@using Sandbox;
@using Sandbox.UI;
@using Shooter.Match;
@inherits Panel
@namespace Shooter.UI

<root>
    <div class="map-card flex-col @(HasFocus ? "selected" : "unselected")">
        <button class="voting-button" onclick="@VoteOption">
            <div class="map-content flex-col">
                <h3>@Option.Title</h3>
                <span>Deathmatch</span> @*Add the proper gamemode here*@
            </div>
        </button>
    </div>
</root>

@code
{
    [Property] public VotingSystem.Option Option { get; set; }

    [Property] public Action<int> Select { get; set; }

    private void VoteOption()
    {
        Select?.Invoke(Option.Index);
    }

    protected override int BuildHash() => System.HashCode.Combine(HasFocus);

    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );
        if (!firstTime) return;

        this.AcceptsFocus = true;
    }
}
